/* https://stackoverflow.com/questions/39948412/insert-text-in-toggle-button-html-css */
*, *::before, *::after {
  box-sizing: content-box;
}

* {
  margin: 0;
}

html, body, input {
  background-color:aquamarine;
  height: 100%;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  height: inherit;
}

.container {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 20px 0 0 18px;
  padding: 8px 10px 4px 10px;
  border-radius: 20px;
  width: 180px;
  height: 40px;
}

.slider {
  color: aquamarine;
  position: absolute;
  cursor: pointer;
  padding: 0 14px 0 4px;
  border: 2px solid white;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: aquamarine;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid white;
  border-radius: 20px;
  top: 8px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: aquamarine;
}

input:checked + .slider:before {
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
}

.text {
  color: white;
}

.text:after {
  position: absolute;
  top: 14px;
  right: 25px;
  font-size: 2rem;
  letter-spacing: -1px;
  content: "BOUNCE!";
  padding: 0 5px 5px 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.text:before {
  position: absolute;
  top: 14px;
  left: 25px;
  font-size: 2rem;
  letter-spacing: -1px;
  content: "STOP!";
  padding: 0 5px 5px 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

input + .slider + .text:after {
  opacity: 1;
}

input + .slider + .text:before {
  opacity: 0;
}

input:checked + .slider + .text:after {
  opacity: 0;
}

input:checked + .slider + .text:before {
  opacity: 1;
}

.title {
  font-size: 2rem;
  letter-spacing: -1px;
  margin: 20px 20px 0 0;
}